USE [master]
GO
/****** Object:  Database [CabinetMedic]    Script Date: 1/14/2026 3:26:05 AM ******/
CREATE DATABASE [CabinetMedic]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CabinetMedic', FILENAME = N'C:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\CabinetMedic.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CabinetMedic_log', FILENAME = N'C:\SQL2022\MSSQL16.SQLEXPRESS\MSSQL\DATA\CabinetMedic_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CabinetMedic].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CabinetMedic]
GO
/****** Object:  Table [dbo].[Consultatie]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultatie](
	[ConsultatieID] [int] IDENTITY(1,1) NOT NULL,
	[Data] [date] NOT NULL,
	[Ora] [time](7) NOT NULL,
	[Motiv] [nvarchar](200) NOT NULL,
 CONSTRAINT [PK_Consultatie] PRIMARY KEY CLUSTERED 
(
	[ConsultatieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Diagnostic]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnostic](
	[DiagnosticID] [int] IDENTITY(1,1) NOT NULL,
	[Denumire] [nvarchar](50) NOT NULL,
	[TratamentStandard] [nvarchar](255) NULL,
 CONSTRAINT [PK_Diagnostic] PRIMARY KEY CLUSTERED 
(
	[DiagnosticID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DiagnosticPacient]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiagnosticPacient](
	[PacientID] [int] NOT NULL,
	[DiagnosticID] [int] NOT NULL,
	[ConsultatieID] [int] NOT NULL,
 CONSTRAINT [PK_DiagnosticPacient] PRIMARY KEY CLUSTERED 
(
	[PacientID] ASC,
	[DiagnosticID] ASC,
	[ConsultatieID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DosarMedical]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DosarMedical](
	[DosarID] [int] IDENTITY(1,1) NOT NULL,
	[PacientID] [int] NOT NULL,
	[TratamentID] [int] NOT NULL,
	[Observatii] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[DosarID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Medic]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Medic](
	[MedicID] [int] IDENTITY(1,1) NOT NULL,
	[Nume] [nvarchar](100) NOT NULL,
	[Prenume] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Parola] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK__Medic__BD4E4EDD89B7538C] PRIMARY KEY CLUSTERED 
(
	[MedicID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pacient]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacient](
	[PacientID] [int] IDENTITY(1,1) NOT NULL,
	[CNP] [nchar](13) NOT NULL,
	[Nume] [varchar](255) NULL,
	[Prenume] [varchar](255) NULL,
	[JudetNatal] [varchar](255) NULL,
	[OrasNatal] [varchar](255) NULL,
	[JudetDomiciliu] [varchar](255) NULL,
	[OrasDomiciliu] [varchar](255) NULL,
	[Strada] [varchar](255) NULL,
	[Numar] [varchar](255) NULL,
	[CodPostal] [varchar](255) NULL,
	[Sex] [char](1) NOT NULL,
	[DataNasterii] [date] NOT NULL,
	[CasaDeAsigurari] [varchar](255) NULL,
	[email] [varchar](255) NULL,
	[parola] [varchar](255) NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK_Pacient] PRIMARY KEY CLUSTERED 
(
	[PacientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Programare]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Programare](
	[ProgramareID] [int] IDENTITY(1,1) NOT NULL,
	[PacientID] [int] NOT NULL,
	[MedicID] [int] NULL,
	[DataCerere] [datetime] NULL,
	[DataProgramata] [date] NULL,
	[OraProgramata] [time](7) NULL,
	[Motiv] [nvarchar](255) NULL,
	[Status] [nvarchar](50) NULL,
 CONSTRAINT [PK__Programa__E1DFB11C56A333C6] PRIMARY KEY CLUSTERED 
(
	[ProgramareID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tratament]    Script Date: 1/14/2026 3:26:06 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tratament](
	[TratamentID] [int] IDENTITY(1,1) NOT NULL,
	[DiagnosticID] [int] NOT NULL,
	[Tratament] [nvarchar](max) NOT NULL,
	[DurataZile] [int] NULL,
 CONSTRAINT [PK_Tratament] PRIMARY KEY CLUSTERED 
(
	[TratamentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Diagnostic] ON 

INSERT [dbo].[Diagnostic] ([DiagnosticID], [Denumire], [TratamentStandard]) VALUES (1, N'Gripă', N'Antitermice (Paracetamol/Ibuprofen), Hidratare intensă, Repaus la pat.')
INSERT [dbo].[Diagnostic] ([DiagnosticID], [Denumire], [TratamentStandard]) VALUES (2, N'Pneumonie', N'Antibiotic (Amoxicilină/Claritromicină), Expectorante.')
INSERT [dbo].[Diagnostic] ([DiagnosticID], [Denumire], [TratamentStandard]) VALUES (3, N'Hipertensiune arterială', N'Inhibitori ACE (Enap/Captopril), Regim hiposodat.')
SET IDENTITY_INSERT [dbo].[Diagnostic] OFF
GO
SET IDENTITY_INSERT [dbo].[Medic] ON 

INSERT [dbo].[Medic] ([MedicID], [Nume], [Prenume], [Email], [Parola]) VALUES (1, N'Ionescu', N'Mircea', N'doctor@cabinet.ro', N'admin123')
SET IDENTITY_INSERT [dbo].[Medic] OFF
GO
SET IDENTITY_INSERT [dbo].[Pacient] ON 

INSERT [dbo].[Pacient] ([PacientID], [CNP], [Nume], [Prenume], [JudetNatal], [OrasNatal], [JudetDomiciliu], [OrasDomiciliu], [Strada], [Numar], [CodPostal], [Sex], [DataNasterii], [CasaDeAsigurari], [email], [parola], [IsActive]) VALUES (1, N'2950505123456', N'Popescu', N'Ana', NULL, NULL, N'Bucuresti', NULL, NULL, NULL, NULL, N'F', CAST(N'1995-05-05' AS Date), NULL, N'ana.popescu@yahoo.com', N'pacient123', 1)
INSERT [dbo].[Pacient] ([PacientID], [CNP], [Nume], [Prenume], [JudetNatal], [OrasNatal], [JudetDomiciliu], [OrasDomiciliu], [Strada], [Numar], [CodPostal], [Sex], [DataNasterii], [CasaDeAsigurari], [email], [parola], [IsActive]) VALUES (2, N'1880808123456', N'Ionescu', N'Mihai', NULL, NULL, N'Cluj', NULL, NULL, NULL, NULL, N'F', CAST(N'1988-08-08' AS Date), NULL, N'mihai.ionescu@yahoo.com', N'pacient123', 1)
INSERT [dbo].[Pacient] ([PacientID], [CNP], [Nume], [Prenume], [JudetNatal], [OrasNatal], [JudetDomiciliu], [OrasDomiciliu], [Strada], [Numar], [CodPostal], [Sex], [DataNasterii], [CasaDeAsigurari], [email], [parola], [IsActive]) VALUES (3, N'2900101123456', N'Dumitru', N'Elena', NULL, NULL, N'Timis', NULL, NULL, NULL, NULL, N'F', CAST(N'1990-01-01' AS Date), NULL, N'elena.dumitru@yahoo.com', N'pacient123', 1)
SET IDENTITY_INSERT [dbo].[Pacient] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Diagnostic]    Script Date: 1/14/2026 3:26:06 AM ******/
ALTER TABLE [dbo].[Diagnostic] ADD  CONSTRAINT [IX_Diagnostic] UNIQUE NONCLUSTERED 
(
	[Denumire] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Medic__A9D10534CF352D87]    Script Date: 1/14/2026 3:26:06 AM ******/
ALTER TABLE [dbo].[Medic] ADD  CONSTRAINT [UQ__Medic__A9D10534CF352D87] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UNQ_CNP]    Script Date: 1/14/2026 3:26:06 AM ******/
ALTER TABLE [dbo].[Pacient] ADD  CONSTRAINT [UNQ_CNP] UNIQUE NONCLUSTERED 
(
	[CNP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Pacient] ADD  CONSTRAINT [DF_Pacient_Sex]  DEFAULT ('F') FOR [Sex]
GO
ALTER TABLE [dbo].[Pacient] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Programare] ADD  CONSTRAINT [DF__Programar__DataC__43D61337]  DEFAULT (getdate()) FOR [DataCerere]
GO
ALTER TABLE [dbo].[Programare] ADD  CONSTRAINT [DF__Programar__Statu__44CA3770]  DEFAULT ('PENDING') FOR [Status]
GO
ALTER TABLE [dbo].[DiagnosticPacient]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticPacient_Consultatie] FOREIGN KEY([ConsultatieID])
REFERENCES [dbo].[Consultatie] ([ConsultatieID])
GO
ALTER TABLE [dbo].[DiagnosticPacient] CHECK CONSTRAINT [FK_DiagnosticPacient_Consultatie]
GO
ALTER TABLE [dbo].[DiagnosticPacient]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticPacient_Diagnostic] FOREIGN KEY([DiagnosticID])
REFERENCES [dbo].[Diagnostic] ([DiagnosticID])
GO
ALTER TABLE [dbo].[DiagnosticPacient] CHECK CONSTRAINT [FK_DiagnosticPacient_Diagnostic]
GO
ALTER TABLE [dbo].[DiagnosticPacient]  WITH CHECK ADD  CONSTRAINT [FK_DiagnosticPacient_Pacient] FOREIGN KEY([PacientID])
REFERENCES [dbo].[Pacient] ([PacientID])
GO
ALTER TABLE [dbo].[DiagnosticPacient] CHECK CONSTRAINT [FK_DiagnosticPacient_Pacient]
GO
ALTER TABLE [dbo].[DosarMedical]  WITH CHECK ADD FOREIGN KEY([PacientID])
REFERENCES [dbo].[Pacient] ([PacientID])
GO
ALTER TABLE [dbo].[DosarMedical]  WITH CHECK ADD FOREIGN KEY([TratamentID])
REFERENCES [dbo].[Tratament] ([TratamentID])
GO
ALTER TABLE [dbo].[Programare]  WITH CHECK ADD  CONSTRAINT [FK__Programar__Medic__46B27FE2] FOREIGN KEY([MedicID])
REFERENCES [dbo].[Medic] ([MedicID])
GO
ALTER TABLE [dbo].[Programare] CHECK CONSTRAINT [FK__Programar__Medic__46B27FE2]
GO
ALTER TABLE [dbo].[Programare]  WITH CHECK ADD  CONSTRAINT [FK__Programar__Pacie__45BE5BA9] FOREIGN KEY([PacientID])
REFERENCES [dbo].[Pacient] ([PacientID])
GO
ALTER TABLE [dbo].[Programare] CHECK CONSTRAINT [FK__Programar__Pacie__45BE5BA9]
GO
ALTER TABLE [dbo].[Tratament]  WITH CHECK ADD  CONSTRAINT [FK_Tratament_Diagnostic] FOREIGN KEY([DiagnosticID])
REFERENCES [dbo].[Diagnostic] ([DiagnosticID])
GO
ALTER TABLE [dbo].[Tratament] CHECK CONSTRAINT [FK_Tratament_Diagnostic]
GO
ALTER TABLE [dbo].[Pacient]  WITH CHECK ADD  CONSTRAINT [CK_Pacient] CHECK  (([Sex]='M' OR [Sex]='F'))
GO
ALTER TABLE [dbo].[Pacient] CHECK CONSTRAINT [CK_Pacient]
GO
USE [master]
GO
